*{
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body{
   position: relative;
  overflow-x: hidden;
}
.pepper-icon {
  position: absolute;
  pointer-events: none; 
  width: 30px; 
  height: 30px;
  animation: fall  infinite;
  z-index: 1000;
}

#home div{
  display: flex;
  justify-content: space-between;

}

.parallax{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.container2{
  height: 200px;
  background-color: white;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  list-style-type: none;
  font-size: 80px;
  color: red;
}

#headerItems{
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#headerItems li{
  list-style-type: none;
}

#headerItems li a{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: aqua;
  text-decoration: none;
  margin-left: 20px;
  font-size: 30px;
}

footer{
  font-size: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fall {
  0% {
      opacity: 1;
      transform: translateY(-500vh) rotate(0deg);
  }
  100% {
      opacity: 0.7;
      transform: translateY(0vh) rotate(360deg);
  }
}